/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root css */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply font-body-font;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input,
select,
button,
textarea,
a {
  border-radius: 6;
  -webkit-appearance: none;
}
