/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root css */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply font-body-font;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input,
select,
button,
textarea,
a {
  border-radius: 6;
  -webkit-appearance: none;
}

/* jwt client components design start */

.tab-panel-container {
  @apply bg-bg-white h-full min-h-[calc(100vh-300px)] border-[2px] rounded-md;
}

.tab-panel-title {
  @apply text-center font-title-font font-semibold py-4 uppercase underline underline-offset-2;
}

/* jwt client components design end */
